@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$background-primary-color: #e6e6e6d9;
$background-secondary-color: #ffffff;

$primary-color: #008cba;
$secondary-color: #f44336;
$tertiary-color: #4caf50;

$size-unit: 1em;
$size-sm: 0.5 * $size-unit;
$size-md: 1 * $size-unit;
$size-lg: 2 * $size-unit;

$space-unit: 4px;
$space-md: 1 * $space-unit;
$space-lg: 2 * $space-unit;

$font-primary: "Roboto", sans-serif;
