@import "../../../assests/variables.module.scss";

.main {
  background-color: $background-secondary-color;
  padding: $size-lg;
  border-radius: $space-md;
  min-height: 100vh;
}

.header {
  font-size: $size-lg;
  padding-bottom: $size-sm;
}

@media screen and (min-width: 450px) {
  .main-box {
    width: 600px;
    min-height: auto;
  }
}
