@import "../../../assests/variables.module.scss";

.main {
  background-color: $background-secondary-color;
  width: 600px;
  padding: $size-lg;
  border-radius: $space-md;
}

.header {
  font-size: $size-lg;
  padding-bottom: $size-sm;
}
