@import "./assests/variables.module.scss";
@import "./assests/reset.module.scss";

body {
  background-color: $background-primary-color;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1,
a,
p,
li,
input {
  font-family: $font-primary;
}

a {
  cursor: pointer;
  text-decoration: none;
}
