@import "../../../assests/variables.module.scss";

.button {
  padding: $space-lg $space-xl;
  border-width: 0;
  border-radius: $space-md;
  color: $background-secondary-color;
  background-color: $primary-color;
  font-size: $size-md;

  &.success {
    background-color: $tertiary-color;
  }
}
