@import "../../../assests/variables.module.scss";

.button {
  padding: $space-md $space-lg;
  border-width: 0;
  border-radius: $space-md;
  background-color: $tertiary-color;
  color: $background-secondary-color;
  font-size: $size-md;
}

.primary {
  background-color: $primary-color;
}

.success {
  background-color: $tertiary-color;
}
