@import "../../../assests/variables.module.scss";

.button {
  padding: 5px 10px;
  border-width: 0px;
  border-radius: 3px;
  background-color: $tertiary-color;
  color: $background-secondary-color;
  font-size: 1em;
}

.primary {
  background-color: $primary-color;
}

.success {
  background-color: $tertiary-color;
}
